body.animated-red-blink {
  animation: red-blink 0.2s forwards linear;
}

body.animated-white-flash {
  animation: white-flash 0.3s forwards ease-in;
}

main.animated-shake {
  animation: shake 0.6s forwards ease-out;
}

#skull-image {
  animation: skull-hover 3s alternate infinite ease-in-out;
}

.selected {
  animation: tab-selected 2s alternate infinite ease-in;
}

@keyframes red-blink {
  0% {
    background-color: rgb(3, 0, 0);
  }
  25% {
    background-color: rgb(46, 0, 0);
  }
  50% {
    background-color: rgb(3, 0, 0);
  }
  75% {
    background-color: rgb(46, 0, 0);
  }
  100% {
    background-color: rgb(3, 0, 0);
  }
}

@keyframes white-flash {
  0% {
    background-color: black;
  }
  50% {
    background-color: rgba(51, 51, 51, 0.986);
  }
  100% {
    background-color: black;
  }
}

@keyframes shake {
  0% {
    transform: translate(-5px, 0);
  }
  20% {
    transform: translate(5px, 0);
  }
  28% {
    transform: translate(-2px, 0);
  }
  40% {
    transform: translate(2px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes skull-hover {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

@keyframes tab-selected {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
