* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  color: white;

  font-family: 'Share Tech Mono', monospace;
}

button,
select,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: rgb(0, 0, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 30px;
}

#container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 85%;

  padding: 30px;
  margin-bottom: 20px;

  border-image-source: url('../images/main_border.png');
  border-image-slice: 16;
  border-image-width: 30px;
  border-image-repeat: repeat;
  border-style: solid;
}

#container::before {
  z-index: -1;
  content: '';
  background-image: url('../images/main_background.png');
  background-size: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.button-container {
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
}

.button-container * {
  flex: 1;
  margin: 15px;
  background-color: black;
  border: 2px solid yellow;
}

#contentbox {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 3;
  margin-bottom: 5px;
}

#contentbox #bookmark-container {
  overflow: auto;
}

#messagebox {
  flex: 1;
  border: 3px solid white;
  background-color: rgba(7, 7, 7, 0.842);
}
