#title-screen {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 100%;
  height: 100%;

  border: 2px solid white;

  background-color: black;
}

#title-screen-button-container {
  display: flex;
}

#start-button,
#audio-toggle-button {
  padding: 20px;
  margin: 10px;
  border: 3px solid rgb(172, 228, 228);
  color: rgb(217, 255, 0);
  background: rgb(7, 5, 10);
}
